{"swagger":"2.0","info":{"version":"2017-07-10","title":"Fhict API","description":"Please use this to try out our api, and if you want to use it in an app or website, you can request your client credentials here (https://api.fhict.nl/Documentation/RequestAccess)","contact":{"name":"Fontys Hogeschool ICT","email":"beheerfhict@fontys.nl"}},"host":"api.fhict.nl","schemes":["https"],"paths":{"/buildings":{"get":{"tags":["Buildings"],"summary":"List all our buildings","operationId":"Buildings_Get","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Building"}}}},"security":[{"oauth2":["fhict"]}]}},"/buildings/{id}":{"get":{"tags":["Buildings"],"summary":"Get a specific building","operationId":"Buildings_GetById","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"The ID of the building","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Building"}}},"security":[{"oauth2":["fhict"]}]}},"/buildings/nearby":{"get":{"tags":["Buildings"],"summary":"List buildings nearby specific location. Lat/long +/- 0.2","operationId":"Buildings_NearbyByLatitudeLongitude","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"latitude","in":"query","description":"Latitude to search for","required":true,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"Longitude to search for","required":true,"type":"number","format":"double"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Building"}}}},"security":[{"oauth2":["fhict"]}]}},"/calendar/{kind}/{tag}":{"get":{"tags":["Calendar"],"summary":"Request a calendar for a specific group of students/staff members.","operationId":"Calendar_SharedByKindTagStart","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"kind","in":"path","description":"Group kind (students/staff)","required":true,"type":"string","enum":["Students","Staff"]},{"name":"tag","in":"path","description":"Calendar Tag, possible values can be requested with tags/{kind}","required":true,"type":"string"},{"name":"start","in":"query","description":"From which date should the calendar be fetched.","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Calendar"}}},"security":[{"oauth2":["fhict"]}]}},"/calendar/tags/{kind}":{"get":{"tags":["Calendar"],"summary":"Request possible calendar tags for a certain group.","operationId":"Calendar_TagsByKind","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"kind","in":"path","description":"Group kind (students/staff)","required":true,"type":"string","enum":["Students","Staff"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}},"security":[{"oauth2":["fhict"]}]}},"/canvas/courses/me":{"get":{"tags":["Canvas"],"summary":"Fetch all your current canvas courses.","description":"This is a proxy to https://canvas.instructure.com/doc/api/courses.html#method.courses.index","operationId":"Canvas_PersonalCourses","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"Your courses","schema":{"type":"array","items":{"$ref":"#/definitions/Course"}}},"204":{"description":"You don't have any courses","schema":{"type":"array","items":{"$ref":"#/definitions/Course"}}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/canvas/todo/me":{"get":{"tags":["Canvas"],"summary":"Fetch your current ToDo items from Canvas.","description":"This is a proxy to https://canvas.instructure.com/doc/api/users.html#method.users.todo_items","operationId":"Canvas_PersonalToDo","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"Your todo-items","schema":{"type":"array","items":{"$ref":"#/definitions/CanvasToDo"}}},"204":{"description":"Currently we don't have any todo-items for you. WOHOO!","schema":{"type":"array","items":{"$ref":"#/definitions/CanvasToDo"}}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/canvas/upcoming/me":{"get":{"tags":["Canvas"],"summary":"Fetch your upcoming assignments from Canvas.","description":"This is a proxy to https://canvas.instructure.com/doc/api/users.html#method.users.upcoming_events","operationId":"Canvas_PersonalUpcoming","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"Your upcoming-items","schema":{"type":"array","items":{"$ref":"#/definitions/CanvasUpcoming"}}},"204":{"description":"Currently we don't have any upcoming-items for you.","schema":{"type":"array","items":{"$ref":"#/definitions/CanvasUpcoming"}}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/canvas/course/{courseId}/assignments":{"get":{"tags":["Canvas"],"summary":"Fetch the assignments for a course, you wont get a response if you dont have access","description":"This is a proxy to https://canvas.instructure.com/doc/api/all_resources.html#method.assignments_api.index","operationId":"Canvas_GetCourseAssignmentsByCourseidBucket","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"courseId","in":"path","description":"","required":true,"type":"integer","format":"int32"},{"name":"bucket","in":"query","description":"","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Assignment"}}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/grades/me":{"get":{"tags":["Grades"],"summary":"Request personal study results. Always display the 'rights' message in your application.","operationId":"Grades_Me","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/StudyResult"}}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/grades/rights":{"get":{"tags":["Grades"],"summary":"The text that should be displayed in your app if you show student grades.","operationId":"Grades_Rights","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"oauth2":["fhict"]}]}},"/grades/{username}":{"get":{"tags":["Grades"],"summary":"Staff members may request results for students. Always display the 'rights' message in your application.","operationId":"Grades_StudentByUsername","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"username","in":"path","description":"The username of the student (eg. i123456)","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/StudyResult"}}}},"security":[{"oauth2":["fhict","fhict_private"]}]}},"/groups":{"get":{"tags":["Groups"],"summary":"All the groups your allowed to see.","operationId":"Groups_List","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Group"}}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/groups/{id}":{"get":{"tags":["Groups"],"summary":"Details about a specific group.","operationId":"Groups_GetByIdIncludemembers","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"ID of the group","required":true,"type":"string"},{"name":"includeMembers","in":"query","description":"Whether or not the members should be included.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Group"}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/inzet/me":{"get":{"tags":["Inzet"],"operationId":"Inzet_Me","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InzetItem"}}}},"security":[{"oauth2":["fhict","fhict_private"]}]}},"/inzet/{username}":{"get":{"tags":["Inzet"],"operationId":"Inzet_DocentByUsername","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"username","in":"path","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/InzetItem"}}}},"security":[{"oauth2":["fhict","fhict_private"]}]}},"/location/current":{"get":{"tags":["Location"],"summary":"Request the current user's location (you'll need fhict_location)","description":"Returns partial data from Cisco CMX for the current user Location =&gt; GET: All clients https://developer.cisco.com/site/cmx-mobility-services/documents/cmx-10.2-api-reference/index.gsp","operationId":"Location_Current","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ClientLocation"}}}},"security":[{"oauth2":["fhict","fhict_location","fhict_personal"]}]}},"/location/history":{"get":{"tags":["Location"],"summary":"Request the location of a user, doesn't seem to work right now.","operationId":"Location_HistoryByDate","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"date","in":"query","description":"The date to return the history for.","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["fhict","fhict_location"]}]}},"/location/cmx_count_clients":{"get":{"tags":["Location"],"summary":"Count all clients","operationId":"Location_CountClientsByFloorrefid","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"floorRefId","in":"query","description":"The floorref ID to filter","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}},"security":[{"oauth2":["fhict"]}]}},"/location/devices":{"get":{"tags":["Location"],"summary":"Get all devices in R1 (anonymised)","operationId":"Location_Devices","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/WifiUser"}}}},"security":[{"oauth2":["fhict"]}]}},"/location/floor-statistics":{"get":{"tags":["Location"],"summary":"Active wifi devices per floor according the CMX.","description":"Does a query for all clients, groups per 'mapHierachyString' and counts all clients. 10 seconds cache","operationId":"Location_GetFloorStatistics","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FloorStatistic"}}}},"security":[{"oauth2":["fhict"]}]}},"/location/mapimage/{campus}/{building}/{floor}":{"get":{"tags":["Location"],"summary":"Image of specific floor","operationId":"Location_MapImageByCampusBuildingFloor","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"campus","in":"path","description":"Name of the campus","required":true,"type":"string"},{"name":"building","in":"path","description":"Name of the building","required":true,"type":"string"},{"name":"floor","in":"path","description":"Name of the floor","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/location/mapimage/{source}.jpg":{"get":{"tags":["Location"],"summary":"Image of a specific floor","operationId":"Location_MapImageJpgBySource","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"source","in":"path","description":"Source as returned from current location","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/location/mapimage/{source}.png":{"get":{"tags":["Location"],"summary":"Image of a specific floor","operationId":"Location_MapImagePngBySource","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"source","in":"path","description":"Source as returned from current location","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/location/cmx_all_clients":{"get":{"tags":["Location"],"summary":"Get all clients (NDA restricted)","operationId":"Location_AllClientsByFloorrefid","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"floorRefId","in":"query","description":"The floorref ID to filter","required":false,"type":"string"}],"responses":{"403":{"description":"You're not authorized to use this method"}},"security":[{"oauth2":["fhict","fhict_location"]}]}},"/location/zone/{zone}":{"get":{"tags":["Location"],"summary":"Get all users in a certain zone (admin only)","operationId":"Location_ZoneByZone","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"zone","in":"path","description":"A zone defined by FHICT","required":true,"type":"string","enum":["Unknown","WerkruimteB"]}],"responses":{"403":{"description":"You're not authorized to use this method"}},"security":[{"oauth2":["fhict","fhict_location"]}]}},"/newsfeeds":{"get":{"tags":["News"],"summary":"List all available newsfeeds","operationId":"News_ListFeeds","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/NewsFeed"}}}},"security":[{"oauth2":["fhict"]}]}},"/newsfeeds/{type}":{"get":{"tags":["News"],"summary":"Request one newsfeed","operationId":"News_FeedByTypeItems","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"type","in":"path","description":"The type requested from the list query.","required":true,"type":"string","enum":["Fhict","FhictMededelingen","FhictMedewerkersplein","Fontys","FontysCommunity","FontysOnderwijs","FontysOnderzoek","BronNieuws","BronOpinie","BronAchtergrond"]},{"name":"items","in":"query","description":"Number off items to include in the response (15 = default).","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/NewsFeed"}}},"security":[{"oauth2":["fhict"]}]}},"/newsfeeds/{type}/posts":{"get":{"tags":["News"],"summary":"Request posts of one newsfeed","operationId":"News_PostsByType","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"type","in":"path","description":"The type requested from the list query.","required":true,"type":"string","enum":["Fhict","FhictMededelingen","FhictMedewerkersplein","Fontys","FontysCommunity","FontysOnderwijs","FontysOnderzoek","BronNieuws","BronOpinie","BronAchtergrond"]}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/NewsItem"}}}},"security":[{"oauth2":["fhict"]}]}},"/people":{"get":{"tags":["People"],"summary":"List all teachers and staff.","operationId":"People_List","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Person"}}}},"security":[{"oauth2":["fhict"]}]}},"/people/me":{"get":{"tags":["People"],"summary":"Information about the user who authorized the request.","description":"Only works if you requested the personal scope","operationId":"People_Me","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Person"}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/people/search/{query}":{"get":{"tags":["People"],"summary":"Search for staff members","operationId":"People_SearchByQuery","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"query","in":"path","description":"Part of name/office, start of PersonalTitle/Id/Department","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Person"}}}},"security":[{"oauth2":["fhict"]}]}},"/people/{id}":{"get":{"tags":["People"],"summary":"Information about a specific user","operationId":"People_ByIdById","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"Username of the user","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Person"}}},"security":[{"oauth2":["fhict"]}]}},"/permissions/scopes":{"get":{"tags":["Permissions"],"summary":"View the scopes of the current token.","operationId":"Permissions_Scopes","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}},"security":[{"oauth2":["fhict"]}]}},"/permissions/roles":{"get":{"tags":["Permissions"],"summary":"View the roles of the current token","operationId":"Permissions_Roles","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}},"security":[{"oauth2":["fhict"]}]}},"/permissions/claims":{"get":{"tags":["Permissions"],"summary":"View all the claims of the current token.","operationId":"Permissions_Claims","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Claim"}}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/permissions/picture_token":{"post":{"tags":["Permissions"],"summary":"Get a picture access token.","description":"This token can only be used in the '/picture' endpoint, like ?access_token=the_returned_token.","operationId":"Permissions_GetPictureToken","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"string"}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/pictures/{username}.jpg":{"get":{"tags":["Picture"],"summary":"Request the public image of a user","description":"Upload your personal picture here (https://apps.fhict.nl/selfservice/Account/Photo). By default you'll get an image of 266x400, but you can request otherwise. See http://imageprocessor.org/imageprocessor-web/imageprocessingmodule/ for parameters.","operationId":"Picture_PublicImageByUsername","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"username","in":"path","description":"Username of the user you want to get the image for","required":true,"type":"string"}],"responses":{"200":{"description":"You'll get a placeholder, if the image could not be found. You can request a picture token under permissions, and use it like &amp;access_token={here_the_picture_token}","schema":{"type":"object"}}},"security":[{"oauth2":["fhict"]}]}},"/pictures/restricted/{username}.jpg":{"get":{"tags":["Picture"],"summary":"Request the official image of a student (for staff only)","description":"By default you'll get an image of 266x400, but you can request otherwise. See http://imageprocessor.org/imageprocessor-web/imageprocessingmodule/ for parameters.","operationId":"Picture_RestrictedImageByUsername","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"username","in":"path","description":"Username of the student you want to get the image for","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["fhict","fhict_private"]}]}},"/qr/generate":{"get":{"tags":["Qr"],"summary":"Generate a qr-code based on input data.","description":"You can request a picture token under permissions, and use it like &amp;access_token={here_the_picture_token}","operationId":"Qr_GenerateByDataSize","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"data","in":"query","description":"The data to create a QR code for","required":true,"type":"string"},{"name":"size","in":"query","description":"The size in pixels. [400]","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}},"security":[{"oauth2":["fhict"]}]}},"/rooms/occupancy/{date}":{"get":{"tags":["Rooms"],"summary":"List all the rooms, and it they are occupied.","description":"Currently only returns rooms from the schedule (since we don't have a database with all rooms yet)","operationId":"Rooms_OccupancyByDate","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"date","in":"path","description":"Specify the date you want to compute the occupance for. (2015-07-28) [default = today]","required":true,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/RoomOccupancy"}}}},"security":[{"oauth2":["fhict"]}]}},"/schedule/me":{"get":{"tags":["Schedule"],"summary":"Get your personal schedule.","operationId":"Schedule_MeByExpandteacherDaysStartStartlastmondayExpandweeksIncludedeleted","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"expandTeacher","in":"query","description":"Expand the teacher information (default = false)","required":false,"type":"boolean"},{"name":"days","in":"query","description":"Number of days to retrieve (default = 31), 'until = start.AddDays(days)';","required":false,"type":"integer","format":"int32"},{"name":"start","in":"query","description":"First day to request format yyyy-mm-dd (defaults = today)","required":false,"type":"string","format":"date-time"},{"name":"startLastMonday","in":"query","description":"Request the schedule starting last monday. This overrides the start parameter (default = false)","required":false,"type":"boolean"},{"name":"expandWeeks","in":"query","description":"Include the schoolweeks in the output (default = false)","required":false,"type":"boolean"},{"name":"includeDeleted","in":"query","description":"Include the deleted items in the results (default = false)","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Schedule"}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/schedule/autocomplete/{kind}":{"get":{"tags":["Schedule"],"summary":"Get all possible values to query the schedule","operationId":"Schedule_AutoCompleteByKindFilter","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"kind","in":"path","description":"What kind of autocomplete are you requesting [Any,Class,Room,Subject,Teacher]","required":true,"type":"string","enum":["Any","Class","Room","Subject","Teacher","User"]},{"name":"filter","in":"query","description":"Filter the possible values [name.ToLower().Contains(filter)]","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ScheduleQueryItem"}}}},"security":[{"oauth2":["fhict"]}]}},"/schedule/{kind}/{query}":{"get":{"tags":["Schedule"],"summary":"Query the schedule for a specific class/room/subject/teacher","operationId":"Schedule_ForQueryByKindQueryDaysExpandteacherStartStartlastmondayExpandweeksIncludedeleted","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"kind","in":"path","description":"What kind of schedule are you requesting [Any,Class,Room,Subject,Teacher,User]","required":true,"type":"string","enum":["Any","Class","Room","Subject","Teacher","User"]},{"name":"query","in":"path","description":"The class/room/subject/teacher abbreviation/user","required":true,"type":"string"},{"name":"days","in":"query","description":"Number of days to retrieve (default = 31), 'until = start.AddDays(days)';","required":false,"type":"integer","format":"int32"},{"name":"expandTeacher","in":"query","description":"Expand the teacher information (default = false)","required":false,"type":"boolean"},{"name":"start","in":"query","description":"First day to request format yyyy-mm-dd (default = today)","required":false,"type":"string","format":"date-time"},{"name":"startLastMonday","in":"query","description":"Request the schedule starting last monday (default = false)","required":false,"type":"boolean"},{"name":"expandWeeks","in":"query","description":"Include the schoolweeks in the output (default = false)","required":false,"type":"boolean"},{"name":"includeDeleted","in":"query","description":"Include the deleted items in the results (default = false)","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Schedule"}}},"security":[{"oauth2":["fhict"]}]}},"/schedule/weeks":{"get":{"tags":["Schedule"],"summary":"Request school week numbers","operationId":"Schedule_Weeks","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Period"}}}},"security":[{"oauth2":["fhict"]}]}},"/schedule/holidays":{"get":{"tags":["Schedule"],"summary":"Request school holidays","operationId":"Schedule_Holidays","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Period"}}}},"security":[{"oauth2":["fhict"]}]}},"/settings":{"get":{"tags":["Settings"],"summary":"View all user defined settings","description":"You'll only get the settings that start with the used client id.","operationId":"Settings_List","consumes":[],"produces":["application/json","text/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/UserSetting"}}}},"security":[{"oauth2":["fhict","fhict_personal"]}]},"put":{"tags":["Settings"],"summary":"Add a new user setting","description":"We suggest to use 'clientId.settingsName'","operationId":"Settings_PutByModel","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/UserSetting"}}],"responses":{"201":{"description":"Setting created.","schema":{"type":"object"}},"403":{"description":"Incorrect key name?"},"409":{"description":"Object with key already exists."}},"security":[{"oauth2":["fhict","fhict_personal"]}]},"delete":{"tags":["Settings"],"summary":"Delete a user setting","description":"We suggest to use 'clientId.settingsName'","operationId":"Settings_DeleteByKey","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"key","in":"query","description":"The key of the setting. Must start with the client-id","required":true,"type":"string"}],"responses":{"200":{"description":"Setting removed.","schema":{"type":"object"}},"403":{"description":"Incorrect key name?"},"404":{"description":"Setting doesn't exists"}},"security":[{"oauth2":["fhict","fhict_personal"]}]},"patch":{"tags":["Settings"],"summary":"Update one setting for the user.","description":"We suggest to use 'clientId.settingsName'","operationId":"Settings_PatchByModel","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","required":true,"schema":{"$ref":"#/definitions/UserSetting"}}],"responses":{"200":{"description":"Setting updated.","schema":{"type":"object"}},"403":{"description":"Incorrect key name?"},"404":{"description":"Setting with key not found."}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/settings/{key}":{"get":{"tags":["Settings"],"summary":"Get a single user setting.","description":"We suggest to use 'clientId.settingsName'","operationId":"Settings_GetByKey","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"key","in":"path","description":"The key of the setting. Must start with the client-id","required":true,"type":"string"}],"responses":{"200":{"description":"Setting returned","schema":{"$ref":"#/definitions/UserSetting"}},"403":{"description":"Incorrect key name?"},"404":{"description":"Setting with key not found."}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/settings/{key}/string":{"get":{"tags":["Settings"],"summary":"Get a single user setting as string.","description":"We suggest to use 'clientId.settingsName'","operationId":"Settings_GetStringByKey","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"key","in":"path","description":"The key of the setting. Must start with the client-id","required":true,"type":"string"}],"responses":{"200":{"description":"Setting returned","schema":{"type":"string"}},"403":{"description":"Incorrect key name?"},"404":{"description":"Setting with key not found."}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/settings/{key}/bool":{"get":{"tags":["Settings"],"summary":"Get a single user setting as boolean.","description":"bool.TryParse(setting.Value, out result) AND result","operationId":"Settings_GetBoolByKey","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"key","in":"path","description":"The key of the setting. Must start with the client-id","required":true,"type":"string"}],"responses":{"200":{"description":"Setting returned","schema":{"type":"boolean"}},"403":{"description":"Incorrect key name?"},"404":{"description":"Setting with key not found."}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/sharepoint/keywords":{"get":{"tags":["Sharepoint"],"summary":"Get all Sharepoint Keywords (or a filtered list of keywords). Can be used to search for people","operationId":"Sharepoint_GetAllKeywordsByFilter","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter","in":"query","description":"keywords.Where(k=&gt;k.Contains(filter));","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"type":"string"}}}},"security":[{"oauth2":["fhict"]}]}},"/sharepoint/people":{"get":{"tags":["Sharepoint"],"summary":"Query people on UserProfile properties","operationId":"Sharepoint_PeopleQueryByQueryIncludestudents","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"query","in":"query","description":"Some keyword (or advanced query)","required":true,"type":"string"},{"name":"includeStudents","in":"query","description":"Specify includeStudents=true if you also want students","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/SpPerson"}}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}},"/sharepoint/profile/{username}":{"get":{"tags":["Sharepoint"],"summary":"Get SharePoint profile for one user","operationId":"Sharepoint_ProfileByUsernameAllowhtml","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"username","in":"path","description":"Username for which you want to see the profile.","required":true,"type":"string"},{"name":"allowHtml","in":"query","description":"Some fields could contain HTML, but are converted to text by default. Supply ?allowHtml=true to disable this conversion.","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/SpPerson"}}},"security":[{"oauth2":["fhict","fhict_personal"]}]}}},"definitions":{"Building":{"description":"This class is used to describe a building","type":"object","properties":{"id":{"description":"Building ID","type":"string"},"url":{"description":"Building URL (entity)","type":"string","readOnly":true},"abbr":{"description":"Building abbreviation","type":"string"},"name":{"description":"Name of the building","type":"string"},"description":{"description":"Building description","type":"string"},"address":{"description":"Streetaddress","type":"string"},"postalCode":{"description":"Postalcode of building","type":"string"},"city":{"description":"City of the building","type":"string"},"lat":{"format":"double","description":"Latitude of the building","type":"number"},"long":{"format":"double","description":"Longitude of the building","type":"number"},"lastModified":{"format":"date-time","description":"Last modified","type":"string"},"beacons":{"description":"All the beacons in this building","type":"array","items":{"$ref":"#/definitions/Beacon"}}}},"Beacon":{"description":"Describes a beacon located in a building","type":"object","properties":{"uid":{"format":"uuid","description":"The Advertized Uuid","type":"string"},"major":{"format":"int32","description":"Major that describes a building and floor","type":"integer"},"minor":{"format":"int32","description":"Minor describes a room","type":"integer"},"room":{"description":"Name of the room.","type":"string"}}},"Calendar":{"description":"A certain calendar, either for students or for teachers.","type":"object","properties":{"title":{"description":"Title of the calendar","type":"string"},"items":{"description":"Calendar items","type":"array","items":{"$ref":"#/definitions/CalendarItem"}},"tag":{"description":"The requested tag","type":"string"}}},"CalendarItem":{"description":"An item from the shared calendar","type":"object","properties":{"start":{"format":"date-time","description":"Start of the calendar item","type":"string"},"end":{"format":"date-time","description":"End of the calendar item","type":"string"},"title":{"description":"Title of the calendar item","type":"string"},"location":{"description":"Location  of the calendar item","type":"string"},"description":{"description":"Optional description","type":"string"},"allDay":{"description":"True for all-day event","type":"boolean"}}},"Course":{"type":"object","properties":{"id":{"format":"int32","description":"Course ID","type":"integer"},"is_public":{"description":"Public course","type":"boolean"},"name":{"description":"Course Name","type":"string"},"start_at":{"format":"date-time","description":"Course startdate","type":"string"},"end_at":{"format":"date-time","description":"Course Enddate","type":"string"},"public_syllabus":{"description":"Course has public Syllabus","type":"boolean"},"is_public_to_auth_users":{"description":"Course is public to authenticated users","type":"boolean"},"calendar":{"$ref":"#/definitions/CanvasCalendar","description":"Course Calendar"},"enrollments":{"description":"Enrollments to this course","type":"array","items":{"$ref":"#/definitions/Enrollment"}},"link":{"description":"Link to this course on the web","type":"string","readOnly":true}}},"CanvasCalendar":{"type":"object","properties":{"ics":{"description":"Ical Uri","type":"string"}}},"Enrollment":{"description":"Enrollment to a course","type":"object","properties":{"type":{"type":"string"},"role":{"type":"string"},"role_id":{"format":"int32","type":"integer"},"user_id":{"format":"int32","type":"integer"},"enrollment_state":{"type":"string"}}},"CanvasToDo":{"type":"object","properties":{"context_type":{"type":"string"},"course_id":{"format":"int32","type":"integer"},"type":{"type":"string"},"assignment":{"$ref":"#/definitions/Assignment"},"html_url":{"type":"string"}}},"Assignment":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"description":{"type":"string"},"due_at":{"format":"date-time","type":"string"},"unlock_at":{"format":"date-time","type":"string"},"lock_at":{"format":"date-time","type":"string"},"points_possible":{"format":"float","type":"number"},"grading_type":{"type":"string"},"assignment_group_id":{"format":"int32","type":"integer"},"grading_standard_id":{"type":"object"},"created_at":{"format":"date-time","type":"string"},"updated_at":{"format":"date-time","type":"string"},"peer_reviews":{"type":"boolean"},"automatic_peer_reviews":{"type":"boolean"},"position":{"format":"int32","type":"integer"},"grade_group_students_individually":{"type":"boolean"},"anonymous_peer_reviews":{"type":"boolean"},"group_category_id":{"format":"int32","type":"integer"},"post_to_sis":{"type":"object"},"moderated_grading":{"type":"boolean"},"course_id":{"format":"int32","type":"integer"},"name":{"type":"string"},"submission_types":{"type":"array","items":{"type":"string"}},"has_submitted_submissions":{"type":"boolean"},"muted":{"type":"boolean"},"html_url":{"type":"string"},"published":{"type":"boolean"},"only_visible_to_overrides":{"type":"boolean"},"submission":{"$ref":"#/definitions/Submission"},"locked_for_user":{"type":"boolean"},"submissions_download_url":{"type":"string"},"lock_info":{"$ref":"#/definitions/Lock_Info"},"quiz_id":{"format":"int32","type":"integer"},"anonymous_submissions":{"type":"boolean"},"lock_explanation":{"type":"string"},"rubric":{"type":"array","items":{"$ref":"#/definitions/CanvasRubric"}},"rubric_settings":{"$ref":"#/definitions/CanvasRubricSettings"}}},"Submission":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"body":{"type":"string"},"url":{"type":"object"},"grade":{"type":"string"},"score":{"format":"float","type":"number"},"submitted_at":{"format":"date-time","type":"string"},"assignment_id":{"format":"int32","type":"integer"},"user_id":{"format":"int32","type":"integer"},"submission_type":{"type":"string"},"workflow_state":{"type":"string"},"grade_matches_current_submission":{"type":"boolean"},"graded_at":{"format":"date-time","type":"string"},"grader_id":{"format":"int32","type":"integer"},"attempt":{"format":"int32","type":"integer"},"excused":{"type":"boolean"},"late":{"type":"boolean"},"preview_url":{"type":"string"},"attachments":{"type":"array","items":{"$ref":"#/definitions/Attachment"}}}},"Lock_Info":{"type":"object","properties":{"asset_string":{"type":"string"},"lock_at":{"format":"date-time","type":"string"},"can_view":{"type":"boolean"}}},"CanvasRubric":{"type":"object","properties":{"id":{"type":"string"},"points":{"format":"float","type":"number"},"description":{"type":"string"},"long_description":{"type":"string"},"ratings":{"type":"array","items":{"$ref":"#/definitions/CanvasRating"}},"outcome_id":{"format":"int32","type":"integer"},"vendor_guid":{"type":"object"}}},"CanvasRubricSettings":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"title":{"type":"string"},"points_possible":{"format":"double","type":"number"},"free_form_criterion_comments":{"type":"boolean"}}},"Attachment":{"type":"object","properties":{"id":{"format":"int32","type":"integer"},"folder_id":{"format":"int32","type":"integer"},"display_name":{"type":"string"},"filename":{"type":"string"},"contenttype":{"type":"string"},"url":{"type":"string"},"size":{"format":"int32","type":"integer"},"created_at":{"format":"date-time","type":"string"},"updated_at":{"format":"date-time","type":"string"},"unlock_at":{"type":"object"},"locked":{"type":"boolean"},"hidden":{"type":"boolean"},"lock_at":{"format":"date-time","type":"string"},"hidden_for_user":{"type":"boolean"},"thumbnail_url":{"type":"object"},"modified_at":{"format":"date-time","type":"string"},"locked_for_user":{"type":"boolean"}}},"CanvasRating":{"type":"object","properties":{"id":{"type":"string"},"points":{"format":"float","type":"number"},"description":{"type":"string"}}},"CanvasUpcoming":{"type":"object","properties":{"all_day":{"type":"boolean"},"all_day_date":{"type":"string"},"created_at":{"format":"date-time","type":"string"},"title":{"type":"string"},"updated_at":{"format":"date-time","type":"string"},"workflow_state":{"type":"string"},"description":{"type":"string"},"id":{"type":"string"},"type":{"type":"string"},"assignment":{"$ref":"#/definitions/Assignment"},"html_url":{"type":"string"},"context_code":{"type":"string"},"end_at":{"format":"date-time","type":"string"},"start_at":{"format":"date-time","type":"string"},"url":{"type":"string"}}},"StudyResult":{"description":"A student study result. (Always display the rights url!)","type":"object","properties":{"date":{"format":"date-time","description":"The date the teacher specified as exam date","type":"string"},"item":{"description":"The nice description of the item","type":"string"},"itemCode":{"description":"The official code of the item","type":"string"},"grade":{"format":"double","description":"The Grade of the Subject","type":"number"},"passed":{"description":"If the student passed with this try, (may not always be accurate)","type":"boolean"}}},"Group":{"description":"Group defined for FHICT","type":"object","properties":{"id":{"description":"Unique ID","type":"string"},"url":{"description":"Group URL (member information)","type":"string","readOnly":true},"groupName":{"description":"GroupName","type":"string"},"groupType":{"description":"Type of group [Generic/Personal/Klas]","enum":["Generic","Personal","Klas"],"type":"string"},"role":{"description":"Role of the listed user [Administrator (for personal groups)/Member]","enum":["Administrator","Member"],"type":"string"},"members":{"description":"All members (should be requested specifically)","type":"array","items":{"$ref":"#/definitions/GroupMember"}},"updatedAt":{"format":"date-time","description":"The date this group was last updated","type":"string"},"numberOfMembers":{"format":"int32","description":"The number of members in this group","type":"integer"}}},"GroupMember":{"description":"This object describes a groupmember","type":"object","properties":{"id":{"description":"Unique ID (username)","type":"string"},"givenName":{"description":"Users firstname","type":"string"},"surname":{"description":"Users lastname","type":"string"},"displayName":{"description":"Users displayname","type":"string"},"mail":{"description":"Users emailaddress","type":"string"},"employeeId":{"description":"Users internal identifier (studentnummer/personeelsnummer)","type":"string"},"photoUri":{"description":"Url where the photo can be loaded from (mind the authentication).","type":"string"}}},"InzetItem":{"description":"Inzet item voor docenten","type":"object","properties":{"projectNaam":{"type":"string"},"taakNaam":{"type":"string"},"kwartaal":{"format":"int32","type":"integer"},"aantalUren":{"format":"double","type":"number"},"oercodeNaam":{"type":"string"},"opmerkingen":{"type":"string"}}},"ClientLocation":{"type":"object","properties":{"macAddress":{"type":"string"},"mapInfo":{"$ref":"#/definitions/Mapinfo"},"mapCoordinate":{"$ref":"#/definitions/MapCoordinate"},"currentlyTracked":{"type":"boolean"},"confidenceFactor":{"format":"float","type":"number"},"statistics":{"$ref":"#/definitions/Statistics"},"historyLogReason":{"type":"object"},"geoCoordinate":{"$ref":"#/definitions/Geocoordinate"},"networkStatus":{"type":"string"},"changedOn":{"format":"int64","type":"integer"},"ipAddress":{"type":"array","items":{"type":"string"}},"userName":{"type":"string"},"ssId":{"type":"string"},"sourceTimestamp":{"type":"object"},"band":{"type":"string"},"apMacAddress":{"type":"string"},"dot11Status":{"type":"string"},"manufacturer":{"type":"string"},"detectingControllers":{"type":"string"},"bytesSent":{"format":"int64","type":"integer"},"bytesReceived":{"format":"int64","type":"integer"},"guestUser":{"type":"boolean"}}},"Mapinfo":{"type":"object","properties":{"mapHierarchyString":{"type":"string"},"floorRefId":{"type":"string"},"floorDimension":{"$ref":"#/definitions/Floordimension"},"image":{"$ref":"#/definitions/Image"},"mapHierarchyFloor":{"type":"string","readOnly":true}}},"MapCoordinate":{"type":"object","properties":{"x":{"format":"float","type":"number"},"y":{"format":"float","type":"number"},"z":{"format":"float","type":"number"},"unit":{"type":"string"}}},"Statistics":{"type":"object","properties":{"currentServerTime":{"format":"date-time","type":"string"},"firstLocatedTime":{"format":"date-time","type":"string"},"lastLocatedTime":{"format":"date-time","type":"string"},"maxDetectedRssi":{"$ref":"#/definitions/MaxDetectedRssi"}}},"Geocoordinate":{"description":"Geo information","type":"object","properties":{"lattitude":{"format":"float","type":"number"},"longitude":{"format":"float","type":"number"},"unit":{"type":"string"}}},"Floordimension":{"type":"object","properties":{"length":{"format":"float","type":"number"},"width":{"format":"float","type":"number"},"height":{"format":"float","type":"number"},"offsetX":{"format":"float","type":"number"},"offsetY":{"format":"float","type":"number"},"unit":{"type":"string"}}},"Image":{"type":"object","properties":{"imageName":{"type":"string"},"imageUrl":{"type":"string","readOnly":true},"zoomLevel":{"format":"int32","type":"integer"},"width":{"format":"float","type":"number"},"height":{"format":"float","type":"number"},"size":{"format":"float","type":"number"},"maxResolution":{"format":"float","type":"number"},"colorDepth":{"format":"int32","type":"integer"}}},"MaxDetectedRssi":{"type":"object","properties":{"apMacAddress":{"type":"string"},"band":{"type":"string"},"slot":{"format":"int32","type":"integer"},"rssi":{"format":"int32","type":"integer"},"antennaIndex":{"format":"int32","type":"integer"},"lastHeardInSeconds":{"format":"int32","type":"integer"}}},"WifiUser":{"type":"object","properties":{"x":{"format":"float","type":"number"},"y":{"format":"float","type":"number"},"z":{"format":"int32","type":"integer"},"userType":{"format":"int32","type":"integer"},"hash":{"type":"string"}}},"FloorStatistic":{"type":"object","properties":{"mapHierarchyString":{"type":"string"},"numberOfDevices":{"format":"int32","type":"integer"}}},"NewsFeed":{"description":"Newsfeed","type":"object","properties":{"id":{"description":"Unique ID","enum":["Fhict","FhictMededelingen","FhictMedewerkersplein","Fontys","FontysCommunity","FontysOnderwijs","FontysOnderzoek","BronNieuws","BronOpinie","BronAchtergrond"],"type":"string"},"url":{"description":"Entity URL","type":"string","readOnly":true},"title":{"description":"Title","type":"string"},"description":{"description":"Description","type":"string"},"updated":{"format":"date-time","description":"Last item updated on","type":"string"},"items":{"description":"Newsfeed items (should be requested)","type":"array","items":{"$ref":"#/definitions/NewsItem"}}}},"NewsItem":{"description":"News item, from a specific feed.","type":"object","properties":{"id":{"description":"Unique ID","type":"string"},"url":{"description":"Entity URL","type":"string"},"pubDate":{"format":"date-time","description":"Item publicated on","type":"string"},"title":{"description":"Title","type":"string"},"author":{"description":"Author","type":"string"},"image":{"description":"Image URL","type":"string"},"thumbnail":{"description":"Thumb of image","type":"string"},"link":{"description":"URL of original article","type":"string"},"content":{"description":"HTML string with the content","type":"string"}}},"Person":{"description":"This object describes a person","type":"object","properties":{"id":{"description":"Unique ID (username)","type":"string"},"url":{"description":"URL of the information about this user.","type":"string","readOnly":true},"givenName":{"description":"Givenname or firstname","type":"string"},"surName":{"description":"Surname or lastname","type":"string"},"initials":{"description":"Initials","type":"string"},"displayName":{"description":"Display name formatted like lastname, Givenname initials","type":"string"},"mail":{"description":"Emailaddress","type":"string"},"office":{"description":"Office (only available for teachers/staff)","type":"string"},"telephoneNumber":{"description":"Phonenumber","type":"string"},"mobileNumber":{"description":"Mobile number (if availible and allowed)","type":"string"},"photo":{"description":"Photo URL, you'll need to add the token to the url (as ?access_token=) or use the header like you would normally","type":"string"},"department":{"description":"Department","type":"string"},"title":{"description":"\"Job\" title","type":"string"},"personalTitle":{"description":"Schedule information either teacher abbreviation or classess","type":"string"},"groups":{"description":"Usergroups (only when requesting a single user)","type":"array","items":{"$ref":"#/definitions/Group"}},"lat":{"format":"double","description":"Last known latitude (Only for teachers/staff)","type":"number"},"long":{"format":"double","description":"Last known longitude (Only for teachers/staff)","type":"number"},"affiliations":{"description":"User Affliations with FHICT","type":"array","items":{"type":"string"}},"updatedAt":{"format":"date-time","description":"Person last updated. (May not be accurate)","type":"string"},"uid":{"description":"Global Unique ID","type":"string","readOnly":true},"thumbnailData":{"format":"byte","description":"User thumbnail (if requested and allowed)","type":"string"},"employeeId":{"description":"User Employee ID","type":"string"}}},"Claim":{"description":"User claim","type":"object","properties":{"type":{"description":"Type of the claim","type":"string"},"value":{"description":"Value of the claim","type":"string"}}},"RoomOccupancy":{"description":"Room Occupancy where all the hours and set as a bit in an integer.","type":"object","properties":{"roomId":{"description":"The ID of the room","type":"string"},"mask":{"format":"int32","description":"A bitmask of all the hours for this day.","type":"integer"}}},"Schedule":{"description":"A schedule for a user/class/room/subject","type":"object","properties":{"title":{"description":"Title","type":"string"},"data":{"description":"Schedule Items","type":"array","items":{"$ref":"#/definitions/ScheduleItem"}},"numberOfDays":{"format":"int32","description":"Number of days requested","type":"integer"},"start":{"format":"date-time","description":"Requested startdate of the schedule","type":"string"},"teachers":{"description":"All the teachers in the current schedule","type":"array","items":{"$ref":"#/definitions/Person"}},"weeks":{"description":"All the current schoolweeks (sadly in dutch)","type":"array","items":{"$ref":"#/definitions/Period"}},"includeDeleted":{"description":"Should deleted lessons be included","type":"boolean"},"latestUpdate":{"format":"date-time","description":"The higest value of 'updatedAt' or 'deletedAt' of the current Data","type":"string","readOnly":true}}},"ScheduleItem":{"description":"An item in a schedule.","type":"object","properties":{"classes":{"description":"Classes","type":"array","items":{"type":"string"}},"room":{"description":"Room","type":"string"},"subject":{"description":"Subject (vak)","type":"string"},"subjectName":{"description":"Subject fullname (crowd-sourced)","type":"string"},"teacherAbbreviation":{"description":"Abbreviation (afkorting) of teacher","type":"string"},"start":{"format":"date-time","description":"Start of the lesson","type":"string"},"end":{"format":"date-time","description":"End of the lesson","type":"string"},"uid":{"format":"uuid","description":"Lesson UID (for syncing)","type":"string"},"hoursMask":{"format":"int32","description":"Bitmask of the schoolhours (1st,3th,4th = 00001101 = 13)","type":"integer"},"description":{"description":"Description (if profived)","type":"string"},"updatedAt":{"format":"date-time","description":"The timestamp of the last update of this leasson. Only provided for leassons after 2015-11-10","type":"string"},"deletedAt":{"format":"date-time","description":"The date this lesson is deleted from the schedule. Only provided if you requested to include deleted lessons","type":"string"}}},"Period":{"description":"Period defined by startdate and enddate with a specific title","type":"object","properties":{"title":{"description":"Title","type":"string"},"start":{"format":"date-time","description":"Startdate","type":"string"},"end":{"format":"date-time","description":"Enddate","type":"string"}}},"ScheduleQueryItem":{"description":"Auto-complete of values to request a schedule","type":"object","properties":{"name":{"description":"Unique name for requesting the schedule","type":"string"},"kind":{"description":"Schedule kind","enum":["Any","Class","Room","Subject","Teacher","User"],"type":"string"},"description":{"description":"Description of the item (only for teachers, contains the teachers name)","type":"string"}}},"UserSetting":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}}},"SpPerson":{"type":"object","properties":{"username":{"description":"Username of the user.","type":"string"},"workPhone":{"description":"Default Fontys PhoneNumber","type":"string"},"cellPhone":{"description":"User filled MobilePhone number.","type":"string"},"facebook":{"description":"Facebook profile link","type":"string"},"linkedIn":{"description":"LinkedIn profile link","type":"string"},"personalWebsite":{"description":"User filled PersonalWebsite","type":"string"},"schools":{"description":"Previous schools","type":"array","items":{"type":"string"}},"twitter":{"description":"Twitter profile link","type":"string"},"pastEmployers":{"description":"Past Employers","type":"array","items":{"type":"string"}},"currentProjects":{"description":"Current projects","type":"array","items":{"type":"string"}},"ambitions":{"description":"Users takes part in these Ambition themes","type":"array","items":{"type":"string"}},"contributions":{"description":"Users contributions towards the ambition themes","type":"string"},"goals":{"description":"Users goals for the current term.","type":"string"},"schedule":{"description":"The Key(s) used in the schedule.","type":"string"},"photoUri":{"description":"The Users photo uri","type":"string"},"videoLink":{"description":"A user-provided video","type":"string"},"projectDescriptions":{"description":"Description about projects contributed to.","type":"string"},"telLink":{"description":"Link to TEL hero description.","type":"string"},"aboutMe":{"type":"string"},"department":{"type":"string"},"displayName":{"type":"string"},"emailAddress":{"type":"string"},"firstName":{"type":"string"},"interests":{"type":"array","items":{"type":"string"}},"lastModified":{"format":"date-time","type":"string"},"lastName":{"type":"string"},"office":{"type":"string"},"pastProjects":{"type":"array","items":{"type":"string"}},"responsibilities":{"type":"array","items":{"type":"string"}},"skills":{"type":"array","items":{"type":"string"}},"title":{"type":"string"}}}},"securityDefinitions":{"oauth2":{"type":"oauth2","description":"OAuth2 Implicit Grant","flow":"implicit","authorizationUrl":"https://identity.fhict.nl/connect/authorize","scopes":{"fhict":"API Access (not personal, always required)","fhict_personal":"Personal endpoints.","fhict_location":"Wifi location (your app only gets this scope if you have a good reason for it)","fhict_private":"Private information of other users."}}}}