<div class="row">
  <div class="col-lg-1 bg-dark text-white">

    <!-- Left navigation -->
    <nav id="nav" class="p-3 mt-4">
      <span class="logo">
        <a routerLink="/" title="">
          <img [src]="'assets/images/logo.svg'" class="navbar-brand"/>
        </a>
      </span>
      <ul class="nav flex-column left-navigation">
        <li class="nav-item py-4">
          <a class="active" routerLink="/schedule">
            <i class="fal fa-calendar-alt fa-4x mb-2"></i>
            Schedule
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/rooms">
            <i class="fal fa-calendar-check fa-4x mb-2"></i>
            Rooms
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-lg-11 bg-light px-0">
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <span class="navbar-text pr-3" *ngIf="isLoggedIn">
          Hello, {{name}}!
        </span>
      </div>

      <!-- Search -->
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for a class, room, teacher..."
               aria-label="Search">
      </form>
    </nav>

    <!-- Main container -->
    <div class="bg-white p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
