<div class="row">
  <div class="col-lg-1 bg-dark text-white">

    <!-- Left navigation -->
    <nav id="nav" class="p-3">
      <span class="logo">
        <a routerLink="/" title="">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140.67 151.82"><defs><style>.a {
            fill: #ffd102;
          }

          .b {
            fill: #f49b21;
          }

          .c {
            fill: #e94c8d;
          }

          .d {
            fill: #865ca1;
          }

          .e {
            fill: #1086c8;
          }

          .f {
            fill: #3dbacc;
          }</style></defs><title>Pluff</title><path class="a"
                                                    d="M75.16,15.19H7.6A7.6,7.6,0,0,1,7.6,0H75.16A7.6,7.6,0,1,1,75.16,15.19Z"/><path
            class="b" d="M110.08,42.52H7.6a7.6,7.6,0,0,1,0-15.19H110.08A7.6,7.6,0,1,1,110.08,42.52Z"/><path class="c"
                                                                                                            d="M110.08,69.84H7.6a7.6,7.6,0,0,1,0-15.19H110.08A7.6,7.6,0,1,1,110.08,69.84Z"/><path
            class="d" d="M95.33,97.17H7.6A7.6,7.6,0,0,1,7.6,82H95.33A7.6,7.6,0,0,1,95.33,97.17Z"/><path class="e"
                                                                                                        d="M46.84,124.49H7.6a7.6,7.6,0,0,1,0-15.19H46.84A7.6,7.6,0,0,1,46.84,124.49Z"/><path
            class="f" d="M46.84,151.82H7.6a7.6,7.6,0,0,1,0-15.19H46.84A7.6,7.6,0,0,1,46.84,151.82Z"/></svg>
        </a>
      </span>
      <ul>
        <li>
          <a routerLink="/schedule" title="">
            <span class="icon"></span>
            Schedule
          </a>
        </li>
        <li>
          <a routerLink="/rooms" title="">
            <span class="icon"><i class="fa fa-map-o"></i></span>
            Rooms
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-lg-11 bg-light">
    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <span class="navbar-text pr-3" *ngIf="isLoggedIn">
          Hello, {{name}}!
        </span>
      </div>

      <!-- Search -->
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search for a class, room, teacher..."
               aria-label="Search">
      </form>
    </nav>

    <!-- Main container -->
    <div class="bg-white p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
