<div class="row schedule">
  <div class="col day" *ngFor="let day of days">
    <div class="header">
      <h2 class="h5">{{ day.date|date:'EEE dd MMM' }}</h2>
      <div class="line"></div>
    </div>
    <ul class="blocks">
      <li *ngFor="let block of day.schedule.data" class="single"
          [ngStyle]="{height: singleHeight(block) + 'vh', top: blockOffset(block) + 'vh'}">
        {{ block.subject }}<br/>
        {{ block.start|date:'HH:mm' }} - {{ block.end|date:'HH:mm' }}
      </li>
    </ul>
  </div>
</div>
