/**
 * Temp Bootstrap fix
 */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/grid";

/**
 * Schedule CSS
 */
.schedule {
  @extend .no-gutters;
  position: relative;

  > .day {

    /**
     * Single day header
     */
    > .header {
      @extend .mb-3;
      display: flex;

      > h2 {
        width: 6em;
      }

      > .line {
        flex-grow: 1;
        background-image: linear-gradient(to right, black 40%, rgba(255, 255, 255, 0) 0%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;
        height: 1px;
        margin-top: 0.9em;
        margin-right: 1em;
      }
    }

    /**
     * Single day blocks
     */
    .blocks {
      @extend .p-0;
      @extend .pr-3;
      margin: 0;
      list-style: none;
      position: relative;
      height: 75vh;

      > .single {
        @extend .p-3;
        @extend .bg-dark;
        color: #fff;
        border-radius: 6px;
        position: absolute;
        width: 94%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      }
    }
  }

  > .indicator {
    position: absolute;
    height: 1px;
    width: 101%;
    left: -2.2%;
    background: #ff0000;
    color: #ff0000;
    top: 40vh;
    z-index: 100;
  }
}


