<div class="row schedule">
  <div class="col day">
    <div class="header">
      <h2 class="h4">Mon 5 Feb</h2>
      <div class="line"></div>
    </div>
  </div>
  <div class="col day">
    <div class="header">
      <h2 class="h4">Tue 6 Feb</h2>
      <div class="line"></div>
    </div>
  </div>
  <div class="col day">
    <div class="header">
      <h2 class="h4">Wed 7 Feb</h2>
      <div class="line"></div>
    </div>
    <!-- Current day blocks, should contain 8. -->
    <div class="blocks">
      <div class="block">
        1<sup>st</sup> hour
      </div>
      <div class="block">
        2<sup>nd</sup> hour
      </div>
      <div class="block">
        3<sup>rd</sup> hour
      </div>
      <div class="block">
        4<sup>th</sup> hour
      </div>
      <div class="block">
        5<sup>th</sup> hour
      </div>
      <div class="block">
        6<sup>th</sup> hour
      </div>
      <div class="block">
        7<sup>th</sup> hour
      </div>
      <div class="block">
        8<sup>th</sup> hour
      </div>
    </div>
  </div>
  <div class="col day">
    <div class="header">
      <h2 class="h4">Thu 8 Feb</h2>
      <div class="line"></div>
    </div>
  </div>
  <div class="col day">
    <div class="header">
      <h2 class="h4">Fri 9 Feb</h2>
      <div class="line"></div>
    </div>
  </div>
</div>
