<div class="schedule">
  <div class="day">
    <div class="header">
      <h1>Mon 5 Feb</h1>
      <div class="line"></div>
    </div>
    <div class="hour">
      <div class="time">
        12:00
      </div>
    </div>
  </div>
  <div class="day">
      <div class="header">
      <h1>Tue 6 Feb</h1>
      <div class="line"></div>
    </div>
  </div>
  <div class="day">
     <div class="header">
      <h1>Wed 7 Feb</h1>
      <div class="line"></div>
    </div>
  </div>
  <div class="day">
      <div class="header">
      <h1>Thu 8 Feb</h1>
      <div class="line"></div>
    </div>
  </div>
  <div class="day">
      <div class="header">
      <h1>Fri 9 Feb</h1>
      <div class="line"></div>
    </div>
  </div>
</div>