#main {
  @include padding(0, 4em);

  margin-left: _size(navbar, width);
  margin-top: 2em;
  width: calc(100% - #{_size(navbar, width)});

  @include breakpoint(small) {
    @include padding(3em, 3em);

    margin-left: 0;
    width: 100%;
  }
}
