.loading-icon {
  width: 6em;

  path {
    transform: scaleX(0);
    animation: bounce-in 4s ease infinite;

    @include vendor("animation-fill-mode", "forwards");

    &.b {
      animation-delay: 0.4s;
    }

    &.c {
      animation-delay: 0.8s;
    }

    &.d {
      animation-delay: 1.2s;
    }

    &.e {
      animation-delay: 1.6s;
    }

    &.f {
      animation-delay: 2.0s;
    }
  }
}

@keyframes bounce-in {
  30% {
    transform: scaleX(1.2);
  }

  50% {
    transform: scaleX(1);
  }

  90% {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}
